BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
RemoveBracesLLVM: true
AllowShortBlocksOnASingleLine: false
AllowShortEnumsOnASingleLine: false
SpaceBeforeParens: Never
SpacesInParentheses: false
DerivePointerAlignment: false
PointerAlignment: Left
BinPackArguments: true
BinPackParameters: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
ReflowComments: false
SortIncludes: true
IncludeBlocks: Preserve
ColumnLimit: 100
